<switches>
<switch name = 's1' border='false' >
    <port name = 'eth0' num = '0'>
       <ip>192.168.1.1</ip>
       <prefixlen>24</prefixlen>
       <mac>hello_mac</mac>
    </port>
    <port name = 'eth1' num = '1'>
       <ip>192.168.2.1</ip>
       <prefixlen>24</prefixlen>
       <mac>world_mac</mac>
    </port>
</switch>
<switch name = 's2' border='true' >
    <port name = 'eth0' num = '0'>
       <ip>192.168.3.1</ip>
       <prefixlen>24</prefixlen>
       <mac>hello_mac</mac>
    </port>
    <port name = 'eth1' num = '1'>
       <ip>192.168.4.1</ip>
       <prefixlen>24</prefixlen>
       <mac>world_mac</mac>
    </port>
</switch>
</switches>
