# switch_name port_name port_num gw_ipv4 ipv4_prefix_len gw_ipv6 ipv6_prefix_len border?
    s1          eth0    1       10.0.1.1    24      10::1:1         112         True
    s2          eth0    1       10.0.2.1    24      10::2:1         112         False
    s3          eth0    1       10.0.3.1    24      10::3:1         112         False
    s4          eth0    1       10.0.4.1    24      10::4:1         112         False
    s5          eth0    1       10.0.5.1    24      10::5:1         112         False
    br0         eth11   3       10.0.0.0    24      2001:da8:25c:c000::33   50  True
